tweet
.env
text
tweeting
__pycache__
*.html
test2.py









































































































































































# Twitter setup
CONSUMER_KEY='urTleXlDtGc1uci6YI3U0XWfn'
API_SECRET_KEY='Y4bKYlQ4ABoYQGC2RkPtkYfkpInoo4aDukM4f9Fn4j0ORnSAhb'
ACCESS_TOKEN='1483479711510638601-2ls3QWu7Y1oiOKi1mDhkRWFVvsXcqU'
BEARER_TOKEN='AAAAAAAAAAAAAAAAAAAAAN0%2BnQEAAAAA%2BcsLb2lAN71sy0Os6W2XtkkNnko%3DU9PrBwozdOUKnMDjBEOVeJ782W58yjAUBVbTqqqtUoASVKnWAC'
ACCESS_TOKEN_SECRET='0svxPblURHIgl6t5FwIAFCdB4GJ8mRRhIIyn44IJEsWsu'
TWITTER_CLIENT_ID = 'WUlsZjZ3amplZVRUOTNKZEhPMHc6MTpjaQ'
TWITTER_CLIENT_SECRET = '8altIUxcOaJlRkKkQA0MEYoY21mEbOkPs6CCEBcb135hViDWIn'

# OpenAI setup
OPENAI_API_KEY='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'
# Bing Setup
SUBSCRIPTION_KEY = 'd9fe872fdef049849fd926cb955d028a'
CLIENT_ID = 
CLIENT_SECRET =  'd9fe872fdef049849fd926cb955d028a'
